<div class="container">
    <h1>Melanie Martinez músicas</h1>


    <table class="table table-secondary">
            <thead>
              <tr>
                
                <th scope="col">Nome Música</th>
                
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let melanie of melanie">
                
                  <td>{{melanie.nome}}</td>
                  
                </tr>
              
            </tbody>
          </table>

</div>
